body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-component {
  height: 100%;
  width: 100%;
  position: relative;
}

.map-component__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.3);
}

.map-component__video-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn {
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: #00FFC2;
  color: black;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  padding: 0 1.25rem;
  border-radius: 2px;
  cursor: pointer;
}

.place-single {
  padding: 1.5rem;
  color: white;
}

.place-single__title {
  font-size: 24px;
  font-weight: 600;
}

.place-single p {
  line-height: 1.5rem;
}